
html,body{
    font-family: 'Work Sans', sans-serif;
    color: #1d1d1d;
    background: #1d1d1d;
    margin: 0;
}


.sidebar{
    line-height: 8pt;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f4cbc6;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.65s;
}

/* The sidebar links */
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 40px;
    line-height: 0.7;
    color: white;
    display: block;
    transition: 0.3s;
}


.sidebar a:hover {
    color: #ed95ae;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    padding-top: 30px;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    cursor: pointer;
    background-color: #1d1d1d;
    color: white;
    padding: 8px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #1d1d1d;
    color: #f4cbc6;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#sidebars {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;

}

.gridcontainer{
    align-content: center;
    display: grid;
    grid-template-columns: 2% 96% 2%;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-column: 1/3;
    max-width:100%;
    height: auto;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 740px) {
    .logo {padding-top: 30px}
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 40px;
    }
}

h1{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 52pt;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    color: black;
}
.w3-bar {

    margin: 0;
    background: white;
    font-size: 200%;
    font-family: 'Bebas Neue', cursive;
    height: 100%;
    width: 100%;
}

.button1{
    background: white;
    color: #1d1d1d;
;
}
.button1:hover{
    color: white;
    background: #cc978e;
}
